
      .body {
        background: #f5f5f5;
        font-size: 14px;
      }
      .breadcrumb-box a {
        text-decoration: none;
        color: #0d6efd;
      }
      .box {
        background: #fff;
        border-radius: 10px;
      }
      .img {
        width: 50px;
        height: 50px;
        border: #0d6efd solid 1px;
        padding: 5px;
        border-radius: 5px;
      }
      .price-new {
        color: #e30019;
        font-weight: bold;
        font-size: 16px;
      }

      .price-old {
        text-decoration: line-through;
        color: gray;
      }
      .product-title {
        font-size: 15px;
        font-weight: 600;
      }
       
    body {
      background: #f5f5f5;
    }

    .card {
      border-radius: 10px;
    }

    .btn-order {
      background: #e02020;
      color: white;
      font-weight: bold;
      padding: 14px;
      border-radius: 8px;
    }

    .btn-order:hover {
      background: #c91c1c;
      color: #fff;
    }

    .price {
      font-weight: 600;
    }

    .total {
      font-size: 20px;
      font-weight: bold;
      color: red;
    }
     .order-summary {
  position: sticky;
  top: 20px;
}
@media (min-width: 992px) {
  .order-summary {
    position: sticky;
    top: 20px;
  }
}
.top-header {
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.top-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #00aaff;
}

.search-bar input {
    width: 400px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    outline: none;
}

.user-actions a {
    font-size: 20px;
    color: #00aaff;
    margin-left: 20px;
}

.main-nav {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.main-nav ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.main-nav a {
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #00aaff;
}

footer {
    background-color: #e0f7fa;
    padding-top: 40px;
    border-top: 3px solid #00aaff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer-content .col h3 {
    color: #007bb5;
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-content ul li {
    margin-bottom: 10px;
    color: #555;
    cursor: pointer;
}

.footer-content p {
    color: #555;
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    background-color: #b2ebf2;
    padding: 15px;
    font-size: 13px;
    color: #444;
}